body {
<<<<<<< HEAD
    width: 1200px;
    height: 1200px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
=======
    background:url(../img/fond.png);
    font-family: Arial, Helvetica, sans-serif
>>>>>>> e6af6569aab31b2314c6311463bf36ba8b1d236b
}
#conteneur {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    
}
<<<<<<< HEAD
.header {
    width: 100px;   
}
.besoin {
    float: left;
=======
header {
    background: white;
    width: 1000px;
    height: 130px;  
>>>>>>> e6af6569aab31b2314c6311463bf36ba8b1d236b
}
header div {
    float: left;

}
.panier {
    background-color: #33CCFF;
    height: 130px;
    float: right;
}
.aide {
    display: inline-block;
}

nav {
    background: #33CCFF;
    height: 15px;
    padding: 10px;
    /* border-bottom: 15px solid #33CCFF; */
    text-align: center;
}
nav a {
    margin: 10px;
    padding:2px 10px;
    /* border-radius: 10px 0px; */
    border: 2px solid #fff;
    background: #6ACAFC;
    /* font-family: 'oswald', sans-serif, 'anton', sans-serif, 'lemonada', cursive; */
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    
}
nav a:hover {
    /* background: #2C3E50;
    color: #fff;
    border: none; */
}
.active{
    background: #FF99CC;
    color: #fff;
}
.paie {
    width: 250px;
    height: 200px;
    float: left;
}
.qui {
    width: 500px;
    height: 200px;
    float: left;

}
.service {
    width: 250px;
    height: 200px;
    float: left;

}
.zone1  {
    float: left;
}
<<<<<<< HEAD
footer a {
    margin: 10px;
    padding:2px 10px;
    border: 2px solid #fff;
    background: #6ACAFC;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    transition: 0.5s;   
}
footer {
    background: #33CCFF;
    height: 15px;
    padding: 10px;
    border-bottom: 10px solid #33CCFF;
    text-align: center;
}
.plan {
    width: 250px;
    height: 150px;
    border: 1px solid black;
}
.telephone {
    text-align: center;
}
#compte {
    background-color: #33ccff;
    margin-top: 0 auto;   
}
.coeur {
  margin: auto;
  width: 250px;
  height: 150px;
  border: 1px solid black;
}
.coeur img {
    float: left;
}
.plaisir {
    
    width: 250px;
    height: 150px;
    border: 1px solid black;
 
}
=======
.clear {
    clear: both;
}

.zone2{
    display: inline-block;
}

.zone2 div{
    float: left;
    margin: 10px;

}

.coeur {
    float: left;
    height: 150px;
    width: 310px;
    
    
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px;
}
.plaisir {
    float: left;
    width: 310px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px;

}
.plan {
    float: left;
    width: 310px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px;
    
}
footer {

        background: #33CCFF;
        height: 60px;
        width: 1000px;
        line-height: 60px;   
}


footer li {
    display: inline;
    text-align: center;
}
footer ul {
    text-align: center;
}
.plan p {
    text-align: center;
    
}
>>>>>>> e6af6569aab31b2314c6311463bf36ba8b1d236b
